<a href="https://colab.research.google.com/github/hafizur072/ML-1st-Project/blob/main/3_Assignment_Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Assignments-Conditional


## Assignment 1: Basic If-Else Statement

**Task:** Write a Python program that asks the user to input their age and prints whether they are eligible to vote (18 years or older) or not.

In [1]:
age = int(input("Your age is:"))
if age >= 18:
    print("You are eligible to Vote.")
else:
    print("You are not eligible to Vote.")

Your age is:22
You are eligible to Vote.

## Assignment 2: Nested If-Else

**Task:** Write a Python program that checks if a user’s input number is positive, negative, or zero.
- If the number is positive, print 'Positive Number'
- If the number is negative, print 'Negative Number'
- If the number is zero, print 'Zero'

In [ ]:
num =int(input("Enter a number:"))
if num > 0:
    print("Positive Number")
elif num < 0:
    print("Negative Number")
else:
    print("Zero")

Enter a number:-23
Negative Number

## Assignment 3: Conditional Expressions

**Task:** write a program to determine if a number entered by the user is even or odd. The program should print 'Even Number' or 'Odd Number' based on the input.

In [ ]:
num = int(input("Enter a number:"))
if num %2 == 0:
    print("Even number")
else:
    print('Odd Number')

Enter a number:4
Even number

## Assignment 4: Age Group Classification

**Task:** Write a Python program that takes the user’s age and prints which age group they belong to:
- 'Child' for age 0–12
- 'Teenager' for age 13–19
- 'Adult' for age 20–64
- 'Senior' for age 65 and above

In [2]:
age = int(input('Enter your age:'))
if 0<=age<=12:
    print("Child")
elif 13<=age<=19:
    print('Teenager')
elif 20 <= age <= 64:
    print('Your are Adult')
else:
    print('You are Senior')

Enter your age:23
Your are Adult

# Python Programming Assignments - Loops and Functions

## Assignment 1: Sum of Natural Numbers

**Task:** Write a Python function `sum_of_natural_numbers(n)` that returns the sum of all natural numbers up to `n`. Use a loop inside the function.

In [41]:
def sum_of_natural_numbers(n):
    total = 0
    for i in range (1, n+1):
            total += i
    return total
print(sum_of_natural_numbers(10))
print(sum_of_natural_numbers(5))
print(sum_of_natural_numbers(4))

55
15
10

## Assignment 2: Factorial of a Number

**Task:** Write a Python function `factorial(n)` that calculates and returns the factorial of `n`. Use a loop to calculate the factorial.

In [55]:
def factorial(n):
    if n<0:
        return "Factorial is not defined for negative numbers"
    elif n==0:
        return 1
    else:
        total=1
        for i in range(1, n+1):
          total *= i
        return total

print(f"Factorial of 5: {factorial(5)}")
print(f"Factorial of -5: {factorial(-5)}")
print(f"Factorial of 0: {factorial(0)}")

Factorial of 5: 120
Factorial of -5: Factorial is not defined for negative numbers
Factorial of 0: 1

## Assignment 3: Multiplication Table

**Task:** Write a Python function `multiplication_table(n)` that prints the multiplication table of `n` up to 10.

In [75]:
def multiplication_table(n):
    print(f"Multiplication Table for {n}:")
    for i in range(1, 11):
        print(f"{n}*{i} = {n*i}")
        print("----------")

# Example usage:
multiplication_table(6)
multiplication_table(4)

Multiplication Table for 6:
6*1 = 6
----------
6*2 = 12
----------
6*3 = 18
----------
6*4 = 24
----------
6*5 = 30
----------
6*6 = 36
----------
6*7 = 42
----------
6*8 = 48
----------
6*9 = 54
----------
6*10 = 60
----------
Multiplication Table for 4:
4*1 = 4
----------
4*2 = 8
----------
4*3 = 12
----------
4*4 = 16
----------
4*5 = 20
----------
4*6 = 24
----------
4*7 = 28
----------
4*8 = 32
----------
4*9 = 36
----------
4*10 = 40
----------