<a href="https://colab.research.google.com/github/hafizur072/ML-1st-Project/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# Import necessary library

!pip install numpy
import numpy as npy
print("Numpy version:", npy.__version__)

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Numpy version: 2.0.2

In [31]:
# Create a NumPy array with 20 random integers between 1 and 100
array1 = npy.random.randint(1, 101, size=20)
arr2 = npy.arange(2,20,1)
# Display the NumPy array
print("20 Random Integers out of 1 to 100:",array1)
print('Array 2:', arr2)
# 1. Find the sum of all elements
# The np.sum() function computes the sum of all elements in the array.

print("Sum of all elements of Array1:", npy.sum(array1))
print("Sum of all elements of Array2:", npy.sum(arr2))


# 2. Find the maximum and minimum values in the array
# np.max() returns the maximum value and np.min() returns the minimum value in the array.
print("Maximum of Array1:", npy.max(array1))
print("Minimum of Array1:", npy.min(array1))
print("Maximum of Array2:", npy.max(arr2))
print("Minimum of Array2:", npy.min(arr2))

20 Random Integers out of 1 to 100: [ 25  31  49  12  70  72  48  36  33  34 100  89  53  20  54  88  77   1
   7  80]
Array 2: [ 2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
Sum of all elements of Array1: 979
Sum of all elements of Array2: 189
Maximum of Array1: 100
Minimum of Array1: 1
Maximum of Array2: 19
Minimum of Array2: 2

In [36]:
# Import necessary libraries
!pip install numpy pandas
import pandas as pnd
import numpy as npy
print('Pandas Version:', pnd.__version__)
print('Numpy Version:', npy.__version__)

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Pandas Version: 2.2.2
Numpy Version: 2.0.2

In [84]:
# 1. Create a DataFrame with 5 rows and 3 columns of random numbers
# The DataFrame is generated from a 5x3 matrix of random integers between 1 and 100.
df = pnd.DataFrame(npy.random.randint(1, 101, size=(5, 3)))

# Display the DataFrame

display(df)


# 2. Compute the sum of each column
# The .sum() function computes the sum for each column in the DataFrame.
print('Sum of each column:')
display(df.sum())
print(df.sum())


# 3. Compute the mean of each column
# The .mean() function computes the mean (average) of each column in the DataFrame.
print("Mean of each column:")
print(df.mean())
display(df.mean())

    0   1   2
0  43  64  73
1  79  48  79
2  88  19  49
3  31  43  14
4  81  55  99

Sum of each column:

0    322
1    229
2    314
dtype: int64

0    322
1    229
2    314
dtype: int64
Mean of each column:
0    64.4
1    45.8
2    62.8
dtype: float64

0    64.4
1    45.8
2    62.8
dtype: float64