<a href="https://colab.research.google.com/github/hafizur072/ML-1st-Project/blob/main/Skill_Morph_Assignment2_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

## **Variable**

In [ ]:
# Creating variables
name = "riaz" #string
age = 40 #int
is_student = True  #boolean
height = 5.9 #float
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")
print(type(name))
print(type(age))
print(type(is_student))

Name: riaz
Age: 40
Student status: True
Height: 5.9 feet
<class 'str'>
<class 'int'>
<class 'bool'>

In [ ]:
name = "Tasnim"
address = 'Dhaka'
age = 25
price = 99.99
is_valid = True
has_paid = False
result = None
print(type(address))
print(type(has_paid))
print(type(result))
print(type(is_valid))

<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'bool'>

In [ ]:
a = 52
b = 7
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.333...
print(a // b) # Floor division: 3
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000

59
45
364
7.428571428571429
7
3
1028071702528

In [ ]:
first = "Hello"
last = "World"
first = "Md."
second = "Hafizur"
last = "Rahman"
# Concatenation
full = first + " " + second + " " + last
print(full)  # Hello World
# Repetition
repeated = second * 3 + '' + last * 3
print(repeated)  # HelloHelloHello#
#Length
print(len(repeated))  # 11

Md. Hafizur Rahman
HafizurHafizurHafizurRahmanRahmanRahman
39

## **Data Structure**

In [ ]:
courses = ['Accounting','Management', 'Finance', 'Marketing', 'MIS', 'IB']
courses[4]='HRM'
courses.append('OB')
courses.insert(5, "IM")
courses.remove('IB')
print(courses)
popped= courses.pop(-6)
print(popped)
print(courses)
print(len(courses))
print(type(courses))
courses.sort()
print(courses)
courses.reverse()
print(courses)

['Accounting', 'Management', 'Finance', 'Marketing', 'HRM', 'IM', 'OB']
Management
['Accounting', 'Finance', 'Marketing', 'HRM', 'IM', 'OB']
6
<class 'list'>
['Accounting', 'Finance', 'HRM', 'IM', 'Marketing', 'OB']
['OB', 'Marketing', 'IM', 'HRM', 'Finance', 'Accounting']

In [ ]:
# @title
# Creating a list
fruits = ["apple", "banana", "orange", "mango","pineapple"]
# Accessing elements (indexing starts at 0)


print(fruits[0])       # apple
print(fruits[1])       # banana
# Negative indexing (counts from the end)
print(fruits[-1])      # pineapple
# Slicing lists
print(fruits[1:4])     # ['banana', 'orange’]
# Changing an element
fruits[1] = "grape"
print(fruits)          # ['apple', 'grape', 'orange', 'mango']

apple
banana
pineapple
['banana', 'orange', 'mango']
['apple', 'grape', 'orange', 'mango', 'pineapple']

In [ ]:
# @title
#Adding Elements in List
fruits = ["apple", "banana"]
fruits.append("orange")    # Add to end ["apple", "banana", "orange"]
fruits.insert(1, "mango")  # Insert at position
print(fruits)  # ['apple', 'mango', 'banana', 'orange']

['apple', 'mango', 'banana', 'orange']

In [ ]:
# @title
#Removing Elements in List
fruits = ["apple", "mango", "banana", "orange"]
fruits.remove("mango")    # Remove by value, updated list: apple, banana, orange
popped = fruits.pop()    # Remove & return last item, apple, banana
print(popped) # orange
print(fruits) # ['apple', 'banana']

orange
['apple', 'banana']

In [ ]:
#organinzing list
fruits = ["orange", "apple", "mango", "banana"]
fruits.sort() # Alphabetical order
print(fruits) # ['apple', 'banana', 'mango', 'orange’]
fruits.reverse() # Reverse order
print(fruits) # ['orange', 'mango', 'banana', 'apple']

['apple', 'banana', 'mango', 'orange']
['orange', 'mango', 'banana', 'apple']

In [ ]:
# Creating a dictionary key:value
student = {
"name": "Fahim",
"age": 21,
"university": "University of Dhaka",
"courses": ["Python", "Data Science", "Web Development"]}

student ["age"] = 25
student ['email'] = "Email:hafizur072@gmail.com"

# Accessing values using keys
print(student["name"])      # Fahim
print(student["university"])
print(student["courses"][2])  # Python
# Adding or modifying items
student["phone"] = "01716602312"
student["age"] = 'Age: 22'
print (student["age"])
# Checking if a key exists
if "email" in student:
  print(student["email"])
else:
  print("No email found")   # No email found

Fahim
University of Dhaka
Web Development
Age: 22
Email:hafizur072@gmail.com

In [ ]:
# Creating a tuple
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)
# Accessing elements
print(coordinates[0])    # 10.5
print(rgb_color[2])      # 128
# Attempting to change (will cause error)
# rgb_color[0] = 200  # TypeError!
# Length of tuple
print(len(rgb_color))    # 3

10.5
128
3

In [ ]:
# Tuple with different data types
mixed = ("Dhaka", 23.8, True, 2023)
# Single-item tuple needs a comma
single = (42,)  # Without comma: just an int
print(mixed)
print(single)

('Dhaka', 23.8, True, 2023)
(42,)

In [ ]:
books = {'number', 'fruits', 'animals', 'animals'}
print (books)
books.add('jam')
books.update(['doi', 'kola'])
print(books)
books.remove('fruits')
books.discard('moi')
print(books)
courses = {'Accounting','Management', 'Finance', 'Marketing', 'MIS', 'IB'}
allbooks = courses & books
print(allbooks)

{'number', 'animals', 'fruits'}
{'animals', 'number', 'jam', 'kola', 'doi', 'fruits'}
{'animals', 'number', 'jam', 'kola', 'doi'}
set()

In [ ]:
  # Creating a set
fruits = {"apple", "banana", "orange", "apple"}
print(fruits)  # {'orange', 'banana', 'apple'} (no duplicates)
# Adding elements
fruits.add("mango")
fruits.update(["grape", "kiwi"])
print(fruits)
# Removing elements
fruits.remove("banana")  # Raises error if not found
fruits.discard("pear")
# Set operations
bangladeshi_fruits = {"mango", "jackfruit", "banana"}
imported_fruits = {"apple", "kiwi", "banana"}
# Union (all elements from both sets)
all_fruits = bangladeshi_fruits | imported_fruits
print(all_fruits)
# Intersection (common elements)
common = bangladeshi_fruits & imported_fruits  # {'banana'}
print(common)

{'orange', 'banana', 'apple'}
{'orange', 'grape', 'banana', 'apple', 'mango', 'kiwi'}
{'banana', 'apple', 'mango', 'jackfruit', 'kiwi'}
{'banana'}

## **String**

In [ ]:
s1 = 'Hello'
s2 = "World"
# Accessing characters
ami = "Python"
print(ami[0])   # P
print(ami[-1])  # n

#Slicing
text = "Python"
print(text[0:3])  # Pyt
print(text[2:])   # thon
print(text[:4])   # Pyth

#Concatenation
a = "Hello"
b = "Python"
result = a + " " + b

#Repetition
print("Hi" * 3)

#length
print(len("Python"))    # 6

#Convert case
print("python".upper())       # PYTHON
"Hello".lower()        # hello
#Replace text
print("Hello Python".replace ("Python", "World"))

P
n
Pyt
thon
Pyth
HiHiHi
6
PYTHON
Hello World

## **Assignment**

In [28]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.
#variables
name = 'Md. Hafizur Rahman' #string
age = 31 #int
favorite_colour = 'Green' #string

#printing variables
print("Name:", name)
print("Age:", age)
print("Favorite Colour:", favorite_colour)

Name: Md. Hafizur Rahman
Age: 31
Favorite Colour: Green

In [32]:
# 2. Create one variable of each type and use the type() function to verify its type.

#variable of each type

name = 'Md. Hafizur Rahman'
print(type(name))

age = 31
print(type(age))

height = 168.1
print(type(height))

is_student = True
is_teacher = True

print(type(is_student))
print(type(is_teacher))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

In [ ]:
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.
# 6. Create a dictionary about yourself with at least 4 key-value pairs.
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.
# 8. Create two sets of colors and find their union and intersection.
# 9. Write a Python function that takes a string as input and prints the first and last character of the string.
# 10. Write a Python function that takes a string and converts it to uppercase.