<a href="https://colab.research.google.com/github/hafizur072/ML-1st-Project/blob/main/Skill_Morph_Assignment%202_Introduction_to_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Assignment**

In [28]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.
#variables
name = 'Md. Hafizur Rahman' #string
age = 31 #int
favorite_colour = 'Green' #string

#printing variables
print("Name:", name)
print("Age:", age)
print("Favorite Colour:", favorite_colour)

Name: Md. Hafizur Rahman
Age: 31
Favorite Colour: Green

In [32]:
# 2. Create one variable of each type and use the type() function to verify its type.

#variable of each type

name = 'Md. Hafizur Rahman'
print(type(name))

age = 31
print(type(age))

height = 168.1
print(type(height))

is_student = True
is_teacher = True

print(type(is_student))
print(type(is_teacher))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

In [36]:
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.
length = 7
width = 5

#Area Calculation
Area = length * width
print(Area)

#Perimeter calculation
Perimeter = 2 * (length + width)
print (Perimeter)

35
24

In [64]:
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.
bangladeshi_foods=['Rice', 'Ruti', 'Khichuri', 'Biryani', 'Paratha']
#1st element
print(bangladeshi_foods[0])

#last element
print (bangladeshi_foods[4])

#extra
bangladeshi_foods[3] = 'Pitha'
print (bangladeshi_foods)
bangladeshi_foods.sort ()
print(bangladeshi_foods)
bangladeshi_foods.append ("Kacchi")
print(bangladeshi_foods)
bangladeshi_foods.insert(2,"Lentil")
print(bangladeshi_foods)
popped=bangladeshi_foods.pop(-5)
print(bangladeshi_foods)
bangladeshi_foods.sort()
print(bangladeshi_foods)
bangladeshi_foods.remove('Pitha')
print(bangladeshi_foods)
bangladeshi_foods.reverse()
print(bangladeshi_foods)

Rice
Paratha
['Rice', 'Ruti', 'Khichuri', 'Pitha', 'Paratha']
['Khichuri', 'Paratha', 'Pitha', 'Rice', 'Ruti']
['Khichuri', 'Paratha', 'Pitha', 'Rice', 'Ruti', 'Kacchi']
['Khichuri', 'Paratha', 'Lentil', 'Pitha', 'Rice', 'Ruti', 'Kacchi']
['Khichuri', 'Paratha', 'Pitha', 'Rice', 'Ruti', 'Kacchi']
['Kacchi', 'Khichuri', 'Paratha', 'Pitha', 'Rice', 'Ruti']
['Kacchi', 'Khichuri', 'Paratha', 'Rice', 'Ruti']
['Ruti', 'Rice', 'Paratha', 'Khichuri', 'Kacchi']

In [72]:
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.
age = [23,22,21,24,25]

#add new number
age.append(26)
print(age)

#remove number
age.remove(21)
print(age)

#sort number
age.sort ()
print(age)

[23, 22, 21, 24, 25, 26]
[23, 22, 24, 25, 26]
[22, 23, 24, 25, 26]

In [84]:
# 6. Create a dictionary about yourself with at least 4 key-value pairs.
learner = {
    "name": "Md. Hafizur Rahman",
    "age": 31,
    "height": 168.01,
    "university": "University of Dhaka",
    "email": "hafizur072@gmail.com",
    "is_student": True,
    "profession": "Teaching",
    "designation": "Assistant Professor of HRM"}

print(learner)
learner["Age"] = 32
print(learner["Age"])
learner['email']="hafiz@bauet.ac.bd"
print(learner['email'])
print(learner)

{'name': 'Md. Hafizur Rahman', 'age': 31, 'height': 168.01, 'university': 'University of Dhaka', 'email': 'hafizur072@gmail.com', 'is_student': True, 'profession': 'Teaching', 'designation': 'Assistant Professor of HRM'}
32
hafiz@bauet.ac.bd
{'name': 'Md. Hafizur Rahman', 'age': 31, 'height': 168.01, 'university': 'University of Dhaka', 'email': 'hafiz@bauet.ac.bd', 'is_student': True, 'profession': 'Teaching', 'designation': 'Assistant Professor of HRM', 'Age': 32}

In [100]:
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

coxs_bazar_lat_long=(21.4397,92.0096)
print(coxs_bazar_lat_long)

(21.4397, 92.0096)

In [107]:
# 8. Create two sets of colors and find their union and intersection.
A ={"Red", "Green", "Blue", "White"}
B ={"Black", "Violet", "Green", "Red"}
All = A | B
print(All)

common = A & B
print (common)

{'Green', 'Violet', 'Blue', 'Red', 'Black', 'White'}
{'Green', 'Red'}

In [112]:
# 9. Write a Python function that takes a string as input and prints the first and last character of the string.
Text = "Hafizur"
print(Text[0])
print(Text[-1])

a='Hafizur'
b='Rahman'

print(a+ ' ' +b)

H
r
Hafizur Rahman

In [120]:
# 10. Write a Python function that takes a string and converts it to uppercase.

print('Hafizur'.upper())
print('Rahman'.lower())

HAFIZUR
rahman